[submodule "Phishing-Website-Detection"]
	path = Phishing-Website-Detection
	url = https://github.com/Abhilakshya627/Phishing-Website-Detection.git
[submodule "Malware-Detection"]
	path = Malware-Detection
	url = https://github.com/Abhilakshya627/Malware-Detection.git
[submodule "VPay"]
	path = VPay
	url = https://github.com/Abhilakshya627/VPay.git
[submodule "Time-Complexity-Analyzer"]
	path = Time-Complexity-Analyzer
	url = https://github.com/Abhilakshya627/Time-Complexity-Analyzer.git
